{% extends 'base.html' %}

{% block content %}
	<div class="men">
	<div class="container">
	  <div class="col-md-3 sidebar">
	  	<div class="block block-layered-nav">
		    <div class="block-title">
		        <strong><span></span></strong>
		    </div>
    <div class="block-content">
                                                                    <dt class="even">Жанры</dt>
                    <dd class="even">
<ol>
    <li>
                <a href="/biography/">Биография</a>
                        (1)
            </li>
    <li>
                <a href="/horrors/">Ужасы</a>
                        (6)
            </li>
    <li>
                <a href="/fantastic/">Фантастика</a>
                        (3)
            </li>
    <li>
                <a href="/fantasy/">Фэнтези</a>
                        (2)
            </li>
    <li>
                <a href="#"></a>
            </li>
	<li>
		<a href=""></a>
	</li>				
</ol>
</dd>
                                                                    <dt class="last odd">Авторы</dt>
                    <dd class="last odd">
<ol>
    <li>
                <a href="/sapkovskiy">Анджей Сапковский</a>
                        
            </li>
    <li>
                <a href="/lavcraft">Говард Лавкрафт Филлипс</a>
                        
            </li>
    <li>
                <a href="/tolkin">Джон Толкин Рональд Руэл</a>
                        
            </li>
    <li>
                <a href="/orwell">Джордж Оруэлл</a>
                        
            </li>
    <li>
                <a href="/kiz">Дэниел Киз</a>
                        
            </li>
            <li>
                <a href="/makonagi">Мэттью МакКонахи</a>
                        
            </li>
            <li>
                <a href="/bradberry">Рэй Брэдбери</a>
                        
            </li>
            <li>
                <a href="/king">Стивен Кинг</a>
                        
            </li>
</ol>
</dd>
                                            </dl>
           
            </div>
</div>
<div class="block block-cart">
        <div class="block-title">
        <strong><span></span></strong>
    </div>
    <div class="block-content">
                        <p class="empty"></p>
        </div>
</div>
<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span></span></strong>
    </div>
    <div class="block-content">
            <p class="empty"></p>
        </div>
</div>
</div>
<div class="col-md-9">

		{% for bk in book_list %}
	    <div class="col-lg-4">
	        	<a href="{{ bk.get_absolute_url }}">
				<img src="{{ bk.poster.url }}" style="width: 561px; height: 400px;" class="img-responsive" alt=""/>
				<h3>{{ bk.name }}</h3>
				<p style="margin-bottom: 31px">{{ bk.author }}</p>
			</a>  
		</div> 
		{% endfor %} 
      </div>
	  <div class="grid-img-right mt-4 text-right bg bg1" >
		{% include 'books/pagination.html' %}
	</div>
	</div>
{% endblock content %}