{% extends 'base.html' %}

{% block content %}
<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<title>Gifty an E-Commerce online Shopping Category Flat Bootstarp responsive Website Template| Single :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gifty Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- dropdown -->
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
<!-- start menu -->
<link href="{% static 'css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'js/megamenu.js' %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<link rel="stylesheet" href="{% static 'css/etalage.css' %}">
<script src="{% static 'js/jquery.etalage.min.js' %}"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
		</script>
<div class="header_bottom_left">
	<div class="clearfix"> </div>
</div>						
	<div class="men">
	<div class="container">
	  <div class="single_top">
	       <div class="col-md-9 single_right">
	   	       <div class="grid images_3_of_2">
						<ul id="etalage">
							<li>
								<a href="optionallink.html">
									<img class="etalage_thumb_image" src="{{ book.poster.url }}" width="250" height="350" class="img-responsive" />
									<img class="etalage_source_image" src="{{ book.poster.url }}" width="250" height="350" class="img-responsive" title="" />
								</a>
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ book.book_view.url }}" class="img-responsive" />
								<img class="etalage_source_image" src="{{ book.book_view.url }}" class="img-responsive" title="" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ book.book_view1.url }}" class="img-responsive"  />
								<img class="etalage_source_image" src="{{ book.book_view1.url }}"class="img-responsive"  />
							</li>
						    <li>
								<img class="etalage_thumb_image" src="{{ book.book_view2.url }}" class="img-responsive"  />
								<img class="etalage_source_image" src="{{ book.book_view2.url }}"class="img-responsive"  />
							</li>
						</ul>
						 <div class="clearfix"></div>		
				  </div> 
				  <div class="desc1 span_3_of_2">
				    <h1>{{ book.name }}</h1>
					<p>{{ book.author }}</p>
					<a class="btn btn-success" style="margin-top: 30px;" href="{{ book.read }}"button">Читать</a>
					<p style="margin-top: 60px;" class="m_text5">{{ book.description }}</p>
				  </div>
				  <div class="clearfix"></div>	
       </div>
       <div class="col-md-3">
      </div>
      <div class="clearfix"> </div>

	<div class="comments-area">
		<h3>Добавить отзыв</h3>
	  <form action="{% url 'create_review' pk=book.id %}" method="post"> 
		{% csrf_token %}
			<div class="input-list">
				{{ form }}
			</div>
			<button type="submit" class="site-btn">Отправить</button>
	 	</form>
<div class="single-post__comment">
	<div class="widget__title" style="margin-top: 50px;">
		<h4>Отзывы:</h4>
	</div>	
	<div class="single-post__comment_item">
		<div class="single-post__comment__item__pic">
			<img src="" alt="">
		</div>
		{% for comm in book.get_review %}
		<div class="single-post__comment__item__text" style="margin-top: 50px;">
			<h5>{{ comm.name }}</h5>
			<h6>{{ comm.create_at }}</h6>
			<p>{{ comm.message }}</p>
		</div>
	</div>
</div>	
		{% endfor %}
	</div>		
	</div>
	</div>
</div>
	</div>	
			
{% endblock content %}
<link href="{% static 'css/flexslider.css' %}" rel='stylesheet' type='text/css' />
							  <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
							  <script type="text/javascript">
								$(function(){
								  SyntaxHighlighter.all();
								});
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>	
