{% extends 'base.html' %}

{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html>
<head>
<title>Gifty an E-Commerce online Shopping Category Flat Bootstarp responsive Website Template| Single :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gifty Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- dropdown -->
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
<!-- start menu -->
<link href="{% static 'css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'js/megamenu.js' %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<link rel="stylesheet" href="{% static 'css/etalage.css' %}">
<script src="{% static 'js/jquery.etalage.min.js' %}"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
		</script>
<div class="header_bottom_left">
	<div class="logo">
		<a href="index.html"><img src="media/img/Green Light.png" alt=""/></a>
	</div>
	<div class="clearfix"> </div>
</div>		
	<div class="men">
	<div class="container">
	  <div class="single_top">
	       <div class="col-md-9 single_right">
	   	       <div class="grid images_3_of_2">
						<ul id="etalage">
							<li>
								<a href="optionallink.html">
									<img class="etalage_thumb_image" src="{{ book.poster.url }}" width="250" height="350" class="img-responsive" />
									<img class="etalage_source_image" src="{{ book.poster.url }}" width="250" height="350" class="img-responsive" title="" />
								</a>
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ book.book_view.url }}" class="img-responsive" />
								<img class="etalage_source_image" src="{{ book.book_view.url }}" class="img-responsive" title="" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ book.book_view1.url }}" class="img-responsive"  />
								<img class="etalage_source_image" src="{{ book.book_view1.url }}"class="img-responsive"  />
							</li>
						    <li>
								<img class="etalage_thumb_image" src="{{ book.book_view2.url }}" class="img-responsive"  />
								<img class="etalage_source_image" src="{{ book.book_view2.url }}"class="img-responsive"  />
							</li>
						</ul>
						 <div class="clearfix"></div>		
				  </div> 
				  <div class="desc1 span_3_of_2">
				    <h1>{{ book.name }}</h1>
					<p>{{ book.author }}</p>
				    <p class="m_5">{{ book.price }}<span class="reducedfrom"></span> <a href=""></a></p>
					<form id="form_buying_product" class="form-inline">
						<div class="form-group">
							<input type="number" class="form-control">
						</div>
							<div class="form-group">
								<button type="submit" id="submit_btn" class="btn btn-success btn-buy"
									data-product_id = '{{ book.id }}'
									data-name = '{{ book.name }}'
									data-price = '{{ book.price }}'
								>
									Купить
								</button>
							</div>
					</form>
					 <p class="m_text2">{{ book.description }}</p>
				  </div>
				  <div class="clearfix"></div>	
       </div>
       <div class="col-md-3">
      </div>
      <div class="clearfix"> </div>

	  <div class="comments-area">
		<h3>Добавить отзыв</h3>
	  <form action="{% url 'add_review' book.id %}" method="post"> 
		{% csrf_token %}
			  <p>
				  <label>Имя</label>
				  <span>*</span>
				  <input type="text" value="" name="name">
			  </p>
			  <p>
				  <label>Email</label>
				  <span>*</span>
				  <input type="text" value="" name="email">
			  </p>
			  <p>
				  <label>Отзыв</label>
				  <span>*</span>
				  <textarea name="message"></textarea>
			  </p>
			  <p>
				  <input type="submit" value="Отправить">
			  </p>
	 	</form>
		</div>	
		{% for r in review %}
		<div class="media mt-5 editContent">
			<div class="media-body">
				<h5 class="mt-0 editContent">
					{{ r.name }}
				</h5>
				<p class="mt-2 editContent">
					1
				</p>
			</div>
		</div>	
		{% endfor %}	
	</div>
	</div>
	</div>	
</div>  
	</div>
<link href="{% static 'css/flexslider.css' %}" rel='stylesheet' type='text/css' />
							  <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
							  <script type="text/javascript">
								$(function(){
								  SyntaxHighlighter.all();
								});
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>	
{% endblock content %}
